<link href="https://unpkg.com/ionicons@4.1.1/dist/css/ionicons.min.css" rel="stylesheet">
<div class="row">
  <div *ngIf="identity" class="navigation col-lg-1">
    <h1 class="head-title">
      <a [routerLink]="['/']">
        <i class="icon ion-md-headset"></i>
        {{title}}
      </a>
    </h1>

    <nav id="user_logged">

        <div class="user-image">
          <img id="image-logged" src="{{url + 'get-image-user/' + identity.image }}"/>
        </div>
        <span id="identity_name">
          {{identity.name}} {{identity.surname}}
        </span>
        <a [routerLink]="['/mis-datos']">
            <!--<span class="glyphicon glyphicon-cog"></span>-->
            <i class="icon ion-md-settings iconaside"></i>
            Mis datos
        </a>
        <a [routerLink]="['/']" (click)="logout()" class="btn-logout">
            <i class="icon ion-md-exit iconaside"></i>
            Salir
        </a> 
    </nav>
  </div>

  <div *ngIf="identity" class="col-lg-11 user-edit">
    <!--<user-edit></user-edit>-->
    <router-outlet></router-outlet>
  </div>

</div>

<div id="login_reg">
    <div *ngIf="!identity" class="row">
        <div class="col-lg-6">
          <h1>Identificate</h1> 

          <div *ngIf="errorMessage">
            <div class="alert alert-info">
              <strong>Error </strong>{{errorMessage}}
            </div>
          </div>

          <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col-lg-6">
            <p>
              <label>Correo electónico:</label>
              <input type="email" #email="ngModel" email="true" name="email" [(ngModel)]="user.email" class="form-control" required/>
              <div class="form-control-feedback" *ngIf="email.errors && (email.dirty || email.touched)">  
                  <p *ngIf="email.errors.required">Email requerido</p>  
                  <p *ngIf="email.errors.email">Deebe introducir un email valido</p>  
              </div> 
           
            <p>
              <label>Contraseña:</label>
              <input type="password" #ngpassword="ngModel" name="password" [(ngModel)]="user.password" class="form-control" required/>
            </p>
              <input type="submit" value="Entrar" class="btn btn-primary"/>
      
          </form>     
        </div>
      
        <div class="col-lg-6">
          <h1>Registrate</h1>
          <div *ngIf="alertRegister">
            <div class="alert alert-info">
              {{alertRegister}}
            </div>
          </div>
          <form #registerForm="ngForm" (ngSubmit)="onSubmitRegister(); registerForm.reset()" class="col-lg-6">
            <p>
              <label>Nombre:</label>
              <input type="text" #name="ngModel" name="name" [(ngModel)]="user_register.name" class="form-control" required/>
              <div class="form-control-feedback" *ngIf="name.errors && (name.dirty || name.touched)">  
                <p *ngIf="name.errors.required">El nombre es obligatorio</p>  
              </div> 
            
            <p>
              <label>Apellidos:</label>
              <input type="text" #surname="ngModel" name="surname" [(ngModel)]="user_register.surname"   class="form-control" required/>
              <div class="form-control-feedback" *ngIf="surname.errors && (surname.dirty || surname.touched)">  
                <p *ngIf="surname.errors.required">Los apellidos son obligatorios</p>  
              </div>
            
            <p>
              <label>Correo electónico:</label>
              <input type="email" #email2="ngModel" email="true" name="email" [(ngModel)]="user_register.email" class="form-control" required/>
              <div class="form-control-feedback" *ngIf="email2.errors && (email2.dirty || email2.touched)">  
                <p *ngIf="email2.errors.required">Email requerido</p>  
                <p *ngIf="email2.errors.email">Deebe introducir un email valido</p>  
              </div>
            
            <p>
              <label>Contraseña:</label>
              <input type="password" #password="ngModel" name="password" [(ngModel)]="user_register.password"  class="form-control" required/>
              <div class="form-control-feedback" *ngIf="password.errors && (password.dirty || password.touched)">  
                <p *ngIf="password.errors.required">La contraseña es obligatoria</p>  
              </div>
            
            <input type="submit" value="Registrarse" class="btn btn-primary"/>
          
          </form>
        </div>
    </div>
</div>